//colors
$primary: rgba(0, 0, 0, 0.87);
$second: rgba(0, 0, 0, 0.54);
$third: rgba(0, 0, 0, 0.38);
$bg-grey: #28323e;
$bg-grey-strong: #e0e0e0;
$main-blue: #ffa01b; // #03a9f4;
$main-grey: #27323d;
$light-blue: #bbd9ee;
$torkis-blue: #89e9f8;
$water-blue: rgba(0, 210, 255, 0.5);
$facebook-blue: #3b5998;
$main-orange: rgb(235, 94, 110);
$bg-grey-light: #f5f5f5;
$bg-grey-lighter: #fafafa;
$bg-white: #ffffff;
$blue-white-gradient: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
$Vital-Ocean-gradinet: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
$blue-green-gradient: linear-gradient(15deg, #000851 0%, #1cb5e0 100%);
$pink-gradient: linear-gradient(to right, #f7b733, #fc4a1a);
$pink-gradient-tr: rgba(0, 0, 0, 0);
